<!DOCTYPE html>
<html lang="es">
<head>
<title></title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="shortcut icon" href="accesorios/img/fichakibox.png" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>
<script>
  function btnform() {
  window.open("../forms/forms.component.html")

  } 
</script>
<body>
    <div class="container">
       
     <strong class="fs18 mt-3" > SECRETARIA DE SALUD DEPARTAMENTAL DE LA CIUDAD DE VALLEDUPAR</strong>
    
     <h1 class="fs14Center mt-3">Tramites Certificado Servicio Social Obligatorio SSO - Registro Único Nacional de Talento Humano en Salud RETHUS</h1>
     <button type="button" class=" f18button" onclick="" data-bs-toggle="tooltip" title="Comenzar Tramite">Comenzar Tramite</button>

    

     <h5 class="fs14Center negrita mt-5" >PASOS A REALIZAR</h5>
    
        <div class=' row   mt-3'>
            <div class='clearfixnumber1 col-12 col-sm-12 col-md-3 col-lg-2'>
              <button type="button" class="number " disabled="disabled">1 </button>
              <label class="fs12">  Seleccionar tipo de tramite </label>
            </div>
            <div class='clearfix col-12 col-sm-12 col-md-3 col-lg-3'>
                <button type="button" class="number" disabled="disabled">2 </button>
                <label class="fs12"> Diligenciar datos y cargar archivos </label>
              </div>
              <div class='clearfix col-12 col-sm-12 col-md-3 col-lg-3'>
                <button type="button" class="number" disabled="disabled">3 </button>
                <label class="fs12"> Información de los datos cargados </label>
              </div>
              <div class='clearfix col-12 col-sm-12 col-md-3 col-lg-3'>
                <button type="button" class="number" disabled="disabled">4 </button>
                <label class="fs12">  Esperar respuestas por correo o SMS </label>
              </div>
        </div>

        <h5 class="fs14Center negrita mt-5" >SELECIONAR TIPO DE TRAMITE</h5>
        <div class='mbsc-row row mb-3 '>
            <div class=' clearfixC col-12 col-sm-12 col-md-6 col-lg-6'>
              <h5 class="negrita fs14">Certificado Servicio Social Obligatorio - SSO</h5>
              <h5 class="negrita fs14">Profesiones:</h5>
              <h5 class="fs13">1. Médicos.</h5>
              <h5 class="fs13">  2. Odontólogos.</h5>
              <h5 class="fs13"> 3. Enfermeros.</h5>
              <h5 class="fs13"> 4.Bacteriologos.</h5>
              <h5 class="negrita fs14">Documentos a cargar:</h5>
              <h5 class="fs13">1.Copia de cedula apliada al 150% legible.</h5>
              <h5 class="fs13"> 2. Copia legible del diploma de grado.</h5>
              <h5 class="fs13"> 3. Copia legible de acta de grado.</h5>
              <h5 class="fs13"> 4.Resolución de nombramiento en el cargo (entidad pública), Contrato (entidad privada) o Acta de posesión (entidad pública).</h5>
              <h5 class="fs13"> 5.Certificado de término de la prestación del servicio social obligatorio (entidad priva y pública)
                                o Resolución de término (entidad pública).
              </h5>
              <button type="button" class="buttontramite mt-3 mb-2 " onclick="" data-bs-toggle="tooltip" title="Realizar Tramite">Realizar Tramite</button>
            </div>
            <div class=' clearfixT col-12 col-sm-12 col-md-6 col-lg-6'>
              <h5 class="negrita fs14">Registro Único Nacional de Talento Humano en Salud - RETHUS</h5>
              <h5 class="negrita fs14">Profesiones:</h5>
              <h5 class="fs13">1. Auxiliares.</h5>
              <h5 class="fs13">  2. Técnicos.</h5>
              <h5 class="fs13"> 3. Tecnólogos en salud.</h5>
              <h5 class="fs13"> 4.Profesionales en Psicología.</h5>
              <h5 class="negrita fs14">Documentos a cargar:</h5>
              <h5 class="fs13">1.Copia de cedula apliada al 150% legible.</h5>
              <h5 class="fs13"> 2. Copia legible y original del diploma de grado del título en salud.</h5>
              <h5 class="fs13"> 3. Copia legible y original de acta de grado del título en salud.</h5>
              <h5 class="fs13"> 4. Copia legible de la tarjeta profesional (solo profesionales en Psicología), sin esta no se registra el título.</h5>
              <button type="button" class="buttontramite mt-5 mb-2 " onclick="btnform()" data-bs-toggle="tooltip" title="Realizar Tramite">Realizar Tramite</button>
            </div>
        </div>


        
    </div>



   
</body>
</html>



